<nav class="sidebar {{sidebarService.showMenu}}">
    <a class="navbar-brand  d-flex" routerLink="">
        <img class="header-logo" src="assets/images/logo/wizesystems logo.svg" alt="">
    </a>
    <div class="list-group">

        <div>

        </div>

        <div class="nav-divider"></div>

        <!-- USUARIOS -->
        <div class="header-group f-roboto-b f-16 f-croboto">
            SISTEMA
        </div>
        <div class="nav-divider"></div>

        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <span class=" f-roboto">
                <span class="wize-geradores"></span>&nbsp; {{ 'Produtos' | translate }}
            </span>
        </a>

        <a *ngIf="permissoes?.usuarios?.read" routerLink="/usuarios/usuarios" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <span class=" f-roboto">
                <span class="wize-pessoa"></span>&nbsp; {{ 'Usuários' | translate }}
            </span>
        </a>

        <a *ngIf="permissoes?.usuariosgrupos?.read" routerLink="/usuarios/grupos/list" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <span class=" f-roboto">
                <span class="wize-grupos"></span>&nbsp; {{ 'Grupos' | translate }}
            </span>
        </a>

        <a *ngIf="permissoes?.usuariosgrupos?.read" routerLink="/contaempresa/" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <span class=" f-roboto">
            <span class="wize-list"></span>&nbsp; {{ 'Conta Empresa' | translate }}
            </span>
        </a>

        <p class="text-center f-16 f-white sidebar-footer"> Versão {{ appVersion }} </p>
    </div>

</nav>