<section class="container">
    <div class="col-sm-12">
        <div class="card-header  bg-dark text-white">
            <h3>Investimentos</h3>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <h4 class="title-label">DADOS DO INVESTIMENTO</h4>
            </div>
            <div class="row row-custom">
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-12">
                            Nome
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{model.nome}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-12">
                            Saldo total disponível
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{(model.saldoTotalDisponivel || '0') | format: 'currencybr' }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-12">
                            Valor total a resgatar
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{(totalResgateInfo || '0') | format: 'currencybr'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-12">
                <h4 class="title-label">RESGATE DO SEU JEITO</h4>
            </div>
            <div class="row row-custom">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    AÇÃO
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    SALDO ACUMULADO
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    VALOR A RESGATAR
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <form role="form" [formGroup]="form">
                        <div class="row p-2" *ngFor="let item of model.acoes; let i = index;">
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-sm-12">
                                        {{item.nome}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-sm-12">
                                        {{(item.valorTotalResgatar|| '0') | format: 'currencybr'}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <input currencyMask name="inputName" class="form-control" placeholder=""
                                            type="text" [ngClass]="formCustom.displayFieldCss(item.formInputName, form)"
                                            (keyup)="onHandleKeyup(item,$event.target.value,item.formInputName)"
                                            formControlName="{{item.formInputName}}" data-toggle="tooltip"
                                            data-placement="right"
                                            title="Informe o valor que deseja resgatar ou informe 0">
                                        <span class="error-input"
                                            [hidden]="!formCustom.isFieldValid(item.formInputName, form)">Campo
                                            obrigatório.</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-12">
                <button type="button" class="btn btn-primary float-right" (click)="onSubmit()">Confirmar
                    resgate</button>
            </div>
        </div>
    </div>
</section>